$background-color-primary: #0b1952;
$background-color-secondary: #fff;
$background-color-tertiary: #f9f2e7;
$text-color-primary: #fff;
$text-color-secondary: #aca7a0;
$text-color-tertiary: #068e32;
$btn-color-primary: #f1406c;
$btn-color-hover: #fc1c54;
