@import "container";
@import "alphabet";
@import "inputBox";
@import "timer";
@import "variables";

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
input,
button {
  padding: 0;
  margin: 0;
  border: 0;
}

textarea:focus,
input:focus {
  outline: none;
}
